<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Commute Helper</title>
  </head>
  <body>
    <h1>
      Commute Helper
    </h1>
    <p> <%= @giants_status %></p>
    <br>
    <br>
    <br>
    <br>
    <a class="twitter-timeline" data-width=520 data-tweet-limit="5" href="https://twitter.com/SFBARTalert">Tweets by SFBARTalert</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" data-tweet-limit="5" data-dnt="true" href="https://twitter.com/search?q=from%3Acaltrain%20-RT" data-widget-id="877703887389548547">Tweets about from:caltrain -RT</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
